:root {
    font-size: 62.5%;
}

main {
    font-size: 1.5rem;
    font-family: 'Spartan', sans-serif;
}

h1 {
    color: hsl(300, 44%, 22%);
    font-size: 3.2rem;
    font-weight: 700;
}

.social-proof-info p {
    color: hsl(301, 10%, 53%);
    font-size: 1.5rem;
    font-weight: 500;
}

.social-proof-rating {
    color: hsl(300, 44%, 22%);
    font-size: 1.3rem;
    font-weight: 700;
}

.social-proof-rating div {
    background-color: hsl(301, 23%, 96%);
}

.customer-testimonials-section {
    font-size: 1.3rem;
    color: hsl(0, 0%, 100%);
}

.customer-testimonials-section div {
    background-color: hsl(301, 44%, 22%);
}

.is-verified {
    color: hsl(334, 80%, 67%);
    font-weight: 400;
}

.customer-testimonials-section .is-verified {
    font-size: 1.3rem;
    font-weight: 400;
}

.customer-testimonials-section p {
    font-size: 1.3rem;
    font-weight: 500;
}

.customer-testimonials-section h2 {
    font-weight: 700;
}